.col-sm-12.mt-3
    .row
        .col-12
            h5 #{direction}
        .col-sm-6.col-xs-12
            .form-row.align-items-end
                .form-group.col-7.mb-0
                    label.col-form-label(for='eth-deposit') ETH
                    input#eth-deposit.form-control(type='text', placeholder='ETH', ng-model="exchange.baseMove." + direction)
                .col-5.text-right
                    button.btn.btn-light.btn-outline-primary(type='button', ng-disabled='!isValidAmnt(exchange.baseMove.' + direction + ', "' + direction + '", true)', ng-click='assetsMove(true, "' + direction + '", exchange.baseMove.' + direction + ')') #{direction}
            .form-row(ng-click='exchange.baseMove.' + direction + ' = calcMax("'+direction+'", true).toString()' class='max')
                label.col-form-label.max
                    span Max:&nbsp;
                    span.label(ng-bind='calcMaxLabel("' + direction + '", true)')
        .col-sm-6.col-xs-12
            .form-row.align-items-end
                .form-group.col-7.mb-0
                    label.col-form-label(for='token-deposit') {{::exchange.symbol}}
                    input#token-deposit.form-control(type='text', placeholder='{{::exchange.symbol}}', ng-model="exchange.quoteMove." + direction)
                .col-5.text-right
                    button.btn.btn-light.btn-outline-primary(type='button', ng-disabled='!isValidAmnt(exchange.quoteMove.' + direction + ', "' + direction + '", false)', ng-click='assetsMove(false, "' + direction + '", exchange.quoteMove.' + direction + ')') #{direction}
            .form-row(ng-click='exchange.quoteMove.' + direction + ' = calcMax("'+direction+'", false).toString()')
                label.col-form-label.max
                    span Max:&nbsp;
                    span.label(ng-bind='calcMaxLabel("'+direction+'", false)')
