.row(ng-controller='walletCtrl')
    .col-sm-12
        .row
            .col-4
                h5 Wallet
                .row
                    .col-md-12 {{onWalletToken().toFixed(4)}} {{exchange.symbol}}
                    .col-md-12  {{onWalletEth().toFixed(6)}} ETH

            .col-4
                h5 Exchange
                .row
                    .col-md-12 {{onExchangeToken().toFixed(4)}} {{exchange.symbol}}
                    .col-md-12  {{onExchangeEth().toFixed(6)}} ETH

            .col-4
                h5 On orders
                .row
                    .col-md-12 {{exchange.onOrders.token.toFixed(4)}} {{exchange.symbol}}
                    .col-md-12  {{exchange.onOrders.eth.toFixed(6)}} ETH
    - var direction = 'Deposit'
    include walletControls
    - var direction = 'Withdraw'
    include walletControls
    
