div(class='p+',ng-controller='exchangeCtrl as exchange')
	//-h2(ng-bind='exchange.pair')
	.exchangeLayout
		.topLeft
			#mainChart
				iframe(src='/img/chart.html', width='100%', height='380px',frameborder="0", border=none,outline=none)


		.bottomLeft
			//- TODO split
			lx-tabs(lx-active-tab='activeTab')
				lx-tab(lx-label='Wallet')
					div.p On wallet: {{exchange.onWallet}}
				lx-tab(lx-label='My Orders')
				lx-tab(lx-label='Last Trades')

			
		.topRight
			.bids(class='p+', ng-init='side="BUY"')
				h3 Bids
				include ./orderbook
			.asks(class='p+', ng-init='side="SELL"')
				h3 Asks
				include ./orderbook
		.bottomRight
			.sell(class='p+', ng-controller='placeOrderCtrl', ng-init='side="SELL"')
				include ./placeOrder
			.buy(class='p+', ng-controller='placeOrderCtrl', ng-init='side="BUY"')
				include ./placeOrder
