div(class='p+',ng-controller='exchangeCtrl as exchange')
	//-h2(ng-bind='exchange.pair')
	.exchangeLayout
		.topLeft
			#candleChart.p
		.bottomLeft
			//- TODO split
			lx-tabs(lx-active-tab='activeTab')
				lx-tab(lx-label='Wallet')
					div.p On wallet: {{exchange.onWallet}}
				lx-tab(lx-label='My Orders')
				lx-tab(lx-label='Last Trades')

			
		.topRight
			.bids(class='p+')
				h3 Bids
				include ./orderbook
			.asks(class='p+')
				h3 Asks
				include ./orderbook
		.bottomRight
			.sell(class='p+')
				h3 Sell
				lx-button(lx-color='red',lx-size='l') Place Sell Order
			.buy(class='p+')
				h3 Buy
				lx-button(lx-color='green',lx-size='l') Place Buy Order
