.row#exchange(ng-controller='exchangeCtrl as exchange', ng-show='exchange.token')
    include ./fillOrderDialog

    include ./approveExchangeByVault

    .col-xs-12.col-lg-9.col-xs-12
        .row
            .col-xs-12.col-lg-8.mt-3
                .col.border
                    .meta
                        span O&nbsp;
                            span.data(ng-bind="meta.open")
                        span H&nbsp;
                            span.data(ng-bind="meta.high")
                        span L&nbsp;
                            span.data(ng-bind="meta.low")
                        span C&nbsp;
                            span.data(ng-bind="meta.close")
                    .meta.mt-3
                        span VOL&nbsp;
                            span.data(ng-bind="meta.vol")
                    #mainChart
            .col-md-4.col-xs-4.mt-3.d-flex.align-content-stretch.flex-wrap
                .col.border
                    .row.mt-3
                        .col-12
                            h3 Orders
                    .row(ng-controller='orderbookCtrl')
                        .col-12(style='max-height: 340px; overflow-y: scroll')
                            include ./orderbook
            .col-md-8.col-xs-6.mt-3.d-flex.align-content-stretch.flex-wrap
                .col.border
                    .row.navRow
                        ul.nav.nav-tabs
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', data-target='#wallet') Wallet
                            li.nav-item
                                a.nav-link(data-toggle='tab', data-target='#orders')
                                    | My
                                    | Orders
                            li.nav-item
                                a.nav-link(data-toggle='tab', data-target='#trades')
                                    | My
                                    | Trades
                    .row.mt-3.mb-3
                        .tab-content.col
                            #wallet.tab-pane.fade.in.active.show
                                include ./wallet
                            #orders.tab-pane.fade.in
                            #trades.tab-pane.fade.in
            .col-lg-4.col-xs-12.mt-3.d-flex.align-content-stretch.flex-wrap
                .col.border
                    .row.navRow
                        ul.nav.nav-tabs
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', data-target='#buy') Buy
                            li.nav-item
                                a.nav-link(data-toggle='tab', data-target='#sell') Sell
                    .row.mt-3.mb-3
                        .tab-content.col(ng-controller='placeOrderCtrl')
                            - var side = 'BUY'
                            #buy.tab-pane.fade.in.active.show
                                include ./placeOrder
                            - var side = 'SELL'
                            #sell.tab-pane.fade.in
                                include ./placeOrder

    .col-xs-12.col-lg-3.order-lg-first.mt-3.d-flex.align-content-stretch.flex-wrap
        .col.border
            .row.mt-3
                .col-12
                    h3 History
            .row
                .col-lg-12(style='overflow-y: scroll; max-height: 745px;')
                    include ./tradeHistory

