div(class='p+',ng-controller='exchangeCtrl as exchange')
	//-h2(ng-bind='exchange.pair')
	.exchangeLayout
		.topLeft
			//-iframe#tradingview(name='tradingview', src='/img/tv-chart.html', frameborder='0', allowtransparency='true', scrolling='no', allowfullscreen='', style='display: block; width: 100%; height: 100%;')

		.bottomLeft
			//- TODO split
			lx-tabs(lx-active-tab='activeTab')
				lx-tab(lx-label='Wallet')
					div.p 
						div On wallet: {{exchange.onWallet}}
						div My wallet: {{exchange.walletAddr}}
						
				lx-tab(lx-label='My Orders')
				lx-tab(lx-label='Last Trades')

			
		.topRight
			.bids(class='p+',ng-controller='orderbookCtrl', ng-init='fillSide="SELL"')
				h3 Bids
				include ./orderbook
			.asks(class='p+', ng-controller='orderbookCtrl', ng-init='fillSide="BUY"')
				h3 Asks
				include ./orderbook
		.bottomRight
			.sell(class='p+', ng-controller='placeOrderCtrl', ng-init='side="SELL"')
				include ./placeOrder
			.buy(class='p+', ng-controller='placeOrderCtrl', ng-init='side="BUY"')
				include ./placeOrder
