//- Warning: flex-column here not working
div(flex-container='row', flex-column='4', ng-controller='exchangeIndicatorsCtrl as exchangeIndicators')
	div.indicator(flex-item='1')
		div.label ETH/{{::exchangeIndicators.pair}}
		div.val 0.0002

	div.indicator(flex-item='1')
		div.label 24h High
		div.val 0.0004

	div.indicator(flex-item='1')
		div.label 24h Low
		div.val 0.00015

	div.indicator(flex-item='1')
		div.label Volume
		div.val 234.00
