table.table.table-hover.orderbook
    tbody.text-right
        tr(ng-repeat='order in exchange.orderbook.asks | orderBy:"-rate" track by order.id', ng-click='!order.isMine && openTakeOrderDialog("BUY", order)', ng-class='{ buy: true, isMine: order.isMine }')
            td(style='width: 15px; padding-right: 0px;')
                div(ng-if='order.isMine')
                    i.far.fa-star
            td(ng-bind='::order.rate.toFixed(8)')
            td(ng-bind='order.amount.toFixed(4)')
            td(ng-bind='order.leftInEth.toFixed(6)')
        tr.orderbook-header
            td
            td Price
            td Amount
            td Total (ETH)
        tr(ng-repeat='order in exchange.orderbook.bids track by order.id', ng-click='!order.isMine && openTakeOrderDialog("SELL", order)', ng-class='{ sell: true, isMine: order.isMine }')
            td(style='width: 15px; padding-right: 0px;')
                div(ng-if='order.isMine')
                    i.far.fa-star
            td(ng-bind='::order.rate.toFixed(8)')
            td(ng-bind='order.amount.toFixed(4)')
            td(ng-bind='order.leftInEth.toFixed(6)')
