table.table.table-hover.orderbook
    tbody.text-right
        tr(ng-repeat='order in exchange.orderbook track by order.idx', ng-click='exchange.fillForOrder("' + fillSide + '", order)')
            td(ng-bind='::order.rate')
            td(ng-bind='::order.amount')
            td(ng-bind='::(order.rate * order.amount).toFixed(3)') // @todo calculate
        tr.orderbook-header
            td Price
            td Amount
            td Total (ETH)
        tr(ng-repeat='order in exchange.orderbook track by order.idx', ng-click='exchange.fillForOrder("' + fillSide + '", order)')
            td(ng-bind='::order.rate')
            td(ng-bind='::order.amount')
            td(ng-bind='::(order.rate * order.amount).toFixed(3)') // @todo calculate