table.table.table-hover.orderbook
    tbody.text-right
        tr(ng-repeat='order in exchange.orderbook.asks track by order.id', ng-click='exchange.fillForOrder("BUY", order)' class='buy')
            td(ng-bind='::order.rate.toFixed(5)')
            td(ng-bind='::order.amount.toFixed(8)')
            td(ng-bind='::(order.rate * order.amount).toFixed(3)')
        tr.orderbook-header.text-center
            td Price
            td Amount
            td Total (ETH)
        tr(ng-repeat='order in exchange.orderbook.bids track by order.id', ng-click='exchange.fillForOrder("SELL", order)' class='sell')
            td(ng-bind='::order.rate.toFixed(5)')
            td(ng-bind='::order.amount.toFixed(8)')
            td(ng-bind='::(order.rate * order.amount).toFixed(3)')
