table.orderbook
	thead
		tr
			th Price
			th Amount
			th Total

	tbody
		tr(ng-repeat='order in exchange.orderbook track by order.idx', ng-click='fillForOrder(fillSide, order)')
			td(ng-bind='::order.rate')
			td(ng-bind='::order.amount')
			td(ng-bind='order.filled') // @todo calculate
