table.orderbook
	tr
		th
			Price
		th
			Amount
		th
			Total
	
	tr(ng-repeat='order in exchange.orderbook track by order.idx', ng-click='fillForOrder(fillSide, order)')
		th(ng-bind='::order.rate')
		th(ng-bind='::order.amount')
		th(ng-bind='order.filled') // @todo calculate
