h4(ng-bind='::side=="SELL" ? "Sell "+exchange.symbol : "Buy "+exchange.symbol')

//- Usually exchanges use the order Price, Amount; sometimes they have amount after
//- TODO show total available amnt
//- TODO slider 

.inputRow
	lx-text-field(lx-label='Rate', lx-fixed-label='true')
		input(type='number', ng-model='exchange.orders[side].rate', step='0.000001')
	.label {{::exchange.symbol+'/ETH'}}

.inputRow
	lx-text-field(lx-label='Amount', lx-fixed-label='true')
		input(type='number', ng-model='exchange.orders[side].amount', step='0.1')
	.label {{::exchange.symbol}}

.inputRow
	lx-text-field(lx-label='Total', lx-fixed-label='true')
		input(type='number', ng-model='exchange.orders[side].total')
	.label ETH

lx-button(
		lx-color='{{::side=="SELL" ? "red" : "green"}}',
		ng-bind='side=="SELL" ? "Place Sell Order" : "Place Buy Order"'
		lx-size='m'
		ng-disabled='!exchange.orders[side].valid'
		)
