h4(ng-bind='::side=="SELL" ? "Sell "+exchange.symbol : "Buy "+exchange.symbol')

//- Usually exchanges use the order Price, Amount; sometimes they have amount after
//- TODO show total available amnt
//- TODO slider 
lx-text-field(lx-label='Rate', lx-focus='true', lx-fixed-label='true')
	input(type='text', ng-model='exchange.orders[side].rate')
lx-text-field(lx-label='Amount', lx-fixed-label='true')
	input(type='text', ng-model='exchange.orders[side].amount')
lx-text-field(lx-label='Total', lx-fixed-label='true')
	input(type='text', ng-model='exchange.orders[side].amount * exchange.orders[side].rate')

lx-button(
		lx-color='{{::side=="SELL" ? "red" : "green"}}',
		ng-bind='side=="SELL" ? "Place Sell Order" : "Place Buy Order"'
		lx-size='m'
		ng-disabled='!exchange.orders[side].valid'
		)
