h4(ng-bind='::side=="SELL" ? "Sell" : "Buy"')

//- Usually exchanges use the order Price, Amount; sometimes they have amount after 
input(type='number', placeholder='Price', ng-model='exchange.orders[side].rate')
input(type='number', placeholder='Amount', ng-model='exchange.orders[side].amount')
input(type='number', placeholder='Total', ng-model='exchange.orders[side].amount * exchange.orders[side].rate')

lx-button(
		lx-color='{{::side=="SELL" ? "red" : "green"}}',
		ng-bind='side=="SELL" ? "Place Sell Order" : "Place Buy Order"'
		lx-size='m'
		ng-disabled='!exchange.orders[side].valid'
		)
