table.table.table-hover.tradehistory
    thead
        tr.text-center
            th(scope='col') Amount
            th(scope='col') Price
            th(scope='col') Time
    tbody.text-right
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35
        tr
            td 25.000
            td 0.0333
            td 12:35