table.table.table-hover.tradehistory
    thead
        tr.text-center
            th(scope='col') Amount
            th(scope='col') Price
            th(scope='col') Time
    tbody.text-right
        // @todo class
        tr(ng-repeat='trade in exchange.trades', ng-class='::trade.side')
            td(ng-bind='::trade.amount')
            td(ng-bind='::trade.price.toFixed(8)')
            td(ng-bind='::trade.time.toLocaleString()')
