.row
    .col-sm-6
        .row
            .col
                h5 Exchange
                .row
                    .col-md-6 {{exchange.onExchange.toFixed(3)}} {{exchange.symbol}}
                    .col-md-6  {{exchange.user.ethBal.onExchange.toFixed(6)}} ETH
        .row.mt-3
            .col
                h5 Wallet
                .row
                    .col-md-6 {{exchange.onWallet.toFixed(3)}} {{exchange.symbol}}
                    .col-md-6  {{exchange.user.ethBal.onWallet.toFixed(6)}} ETH
        .row.mt-3
            .col
                h5 On orders
                .row
                    .col-md-6 {{exchange.onOrders.toFixed(3)}} {{exchange.symbol}}
                    .col-md-6  {{exchange.user.ethBal.onOrders}} ETH
    .col-sm-6 B
