doctype html

html(lang="en")
    head
        title DEXY Exchange

        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width', initial-scale='1')

        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/blob.css')

        //if (mode === 'production')
        //    link(rel='stylesheet', href='css/blob.css')
        //    script(type='text/javascript', src='blob.js?cacheBreak=' + pkg.version)
        //else
        //    script(type='text/javascript', src='depsblob.js?cacheBreak=' + pkg.version)
            include ./resources.pug
        //
        //include ./templates.pug

    body(ui-view='')/

    script(src='main.js')
