div(ng-controller='MarketsController as vm', class='p+')

    .row
        .col-6
            .col-6
                input.form-control(type='text', ng-model='vm.search', placeholder='Search')

        .col-6.text-right.align-content-end
            lx-switch(ng-model='hideZeroBal', lx-position='right') Hide zero balances

    .row
        .col-12
            lx-data-table(class='table table-hover markets-table', lx-border='false', lx-selectable='true', lx-thumbnail='true', lx-thead='vm.advancedDataTableThead', lx-tbody='vm.dataTableTbody')