div.markets-table(ng-controller='MarketsController as vm', class='p+')
	//-h3 ETH Balance: 0.00
	.searchCard
		lx-search-filter
			input(type='text', ng-model='vm.search', placeholder='Search')


	lx-switch.hideZeroBal(ng-model='hideZeroBal', lx-position='right') Hide zero balances

	lx-data-table(class='p+', lx-border='false', lx-selectable='true', lx-thumbnail='true', lx-thead='vm.advancedDataTableThead', lx-tbody='vm.dataTableTbody')
