div(ng-controller='MarketsController as vm')

    .row.mt-3
        .col-6
            .col-xs-12.col-sm-6
                input.form-control(type='text', ng-model='searchKeyword', placeholder='Search')

        .col-6.text-right.align-content-end
            .form-check.form-check-inline
                input.form-check-input(type="checkbox" name="hidezero" id="hidezero" value="hide" ng-model='hideZeroBal')
                label.form-check-label(for="hidezero") Hide zero balances
            .form-check.form-check-inline
                input.form-check-input(type="checkbox" name="hidezero" id="useEUR" value="hide" ng-model='useEUR')
                label.form-check-label(for="useEUR") Denominate in EUR

    .row.mt-3
        .col-12
            table.table.table-hover.markets-table
                thead
                    tr
                        th(scope='col')
                        th(scope='col' ng-click="orderByField='symbol'; reverseSort = !reverseSort") Market
                        th(scope='col' ng-click="orderByField='name'; reverseSort = !reverseSort") Name
                        th(scope='col' ng-click="orderByField='balance'; reverseSort = !reverseSort") Balance
                        th(scope='col' ng-click="orderByField='price'; reverseSort = !reverseSort") Price
                        th(scope='col' ng-click="orderByField='change'; reverseSort = !reverseSort") % Change
                        th(scope='col' ng-click="orderByField='vol'; reverseSort = !reverseSort") 24h Volume
                        th(scope='col' ng-click="orderByField='high'; reverseSort = !reverseSort") 24h High
                        th(scope='col' ng-click="orderByField='low'; reverseSort = !reverseSort") 24h Low
                tbody
                    tr(ng-repeat='market in markets | orderBy:orderByField:reverseSort | filter: searchKeyword', ng-click='openExchange(market.symbol)', ng-hide='hideZeroBal && market.balance <= 0')
                        td
                            img(ng-src='img/markets/{{market.symbol}}-ETH.png' width='30')
                        td(ng-bind='market.symbol')
                        td(ng-bind='market.name')
                        td(ng-bind='market.balance.toFixed(2)')
                        td
                            div(ng-bind='::(market.price.toFixed(8))')
                            div(class='label')
                                small(ng-bind='fiatValue(market.price)')
                        td(ng-bind='market.change.toFixed(2)' ng-class='market.change >= 0 ? "positive" : "negative"')
                        td
                            div(ng-bind='::(market.vol.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.vol)')
                        td
                            div(ng-bind='::(market.high.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.high)')
                        td
                            div(ng-bind='::(market.low.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.low)')
