div(ng-controller='MarketsController')

    .row.p-3
        .col-12.alert.alert-info(role='alert')
            .text-center 0 Fee Trading During Beta Launch!

    .row
        .col-12.text-right.align-content-end
            .form-check.form-check-inline
                input.form-check-input(type="checkbox" name="hidezero" id="hidezero" value="hide" ng-model='hideZeroBal')
                label.form-check-label(for="hidezero") Hide zero balances
            .form-check.form-check-inline.ml-5
                select.form-control(ng-model="currency")
                    option(value="USD") USD
                    option(value="EUR") EUR

    .row.mt-3
        .col-12
            .row
                .col-2
                    .card.box-shadow(align='center')
                        img.card-img-top.mt-3(src='img/markets/1ST-ETH.png', style='width: 30px;')
                        .card-body
                            .card-text
                                span.text-muted FirstBlood
                .col-2
                    .card.box-shadow(align='center')
                        img.card-img-top.mt-3(src='img/markets/1ST-ETH.png', style='width: 30px;')
                        .card-body
                            .card-text
                                span.text-muted FirstBlood
                .col-2
                    .card.box-shadow(align='center')
                        img.card-img-top.mt-3(src='img/markets/1ST-ETH.png', style='width: 30px;')
                        .card-body
                            .card-text
                                span.text-muted FirstBlood
                .col-2
                    .card.box-shadow(align='center')
                        img.card-img-top.mt-3(src='img/markets/1ST-ETH.png', style='width: 30px;')
                        .card-body
                            .card-text
                                span.text-muted FirstBlood
                .col-2
                    .card.box-shadow(align='center')
                        img.card-img-top.mt-3(src='img/markets/1ST-ETH.png', style='width: 30px;')
                        .card-body
                            .card-text
                                span.text-muted FirstBlood
                .col-2
                    .card.box-shadow(align='center')
                        img.card-img-top.mt-3(src='img/markets/1ST-ETH.png', style='width: 30px;')
                        .card-body
                            .card-text
                                span.text-muted FirstBlood

    .row.mt-3
        .col-12
            table.table.table-hover.markets-table
                thead
                    tr
                        th(scope='col')
                            //- for the icon
                        th(scope='col', ng-repeat='f in fields', ng-click="setOrderBy(f.field)") {{::f.name}}
                            span(ng-show="orderByField==f.field && !reverseSort")
                                i.fas.fa-arrow-up.fa-lg.ml-2
                            span(ng-show="orderByField==f.field && reverseSort")
                                i.fas.fa-arrow-down.fa-lg.ml-2
                tbody
                    tr(ng-repeat='market in markets | orderBy:getOrder() | filter:$root.searchKeyword track by market.symbol', ng-click='openExchange(market.symbol)', ng-hide='hideZeroBal && market.balanceExchange <= 0')
                        td
                            img(ng-src='img/markets/{{market.symbol}}-ETH.png' width='30')
                        td(ng-bind='market.symbol')
                        td(ng-bind='market.balanceWallet.toFixed(2)')
                        td(ng-bind='market.balanceExchange.toFixed(2)')
                        //-td(ng-bind='market.change.toFixed(2)' ng-class='market.change >= 0 ? "positive" : "negative"')
                        td
                            div(ng-bind='(market.bid.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.bid)')
                        td
                            div(ng-bind='(market.ask.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.ask)')
                        td
                            div(ng-bind='(market.last.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.last)')
                        td
                            div(ng-bind='(market.volume.toFixed(8))')
                            div(class='label', ng-bind='fiatValue(market.volume)')
