nav.navbar.navbar-expand-md.navbar-light.box-shadow.header(ng-controller='GlobalIndicatorsCtrl')
    a.navbar-brand(href='#')
        img(src="img/dexy.png", height="30", alt="dexy")

    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#') Markets
        ul.navbar-nav.ml-auto
            li.nav-item.dropdown
                a#gas.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | {{'Gas price: ' + $root.gas + ' gwei'}}
                .dropdown-menu.right(aria-labelledby='gas')
                    .dropdown-item(
                        ng-repeat='level in ["safe", "average", "fast"]'
                        ng-click='$root.gas = gas.prices[level]'
                        ng-class='$root.gas == gas.prices[level] ? "selected" : ""') {{gas.prices[level] + ' gwei ('+level+')'}}
            li.nav-item.dropdown
                include ./user
            li.nav-item.d-none.d-lg-inline-block
                button.btn.btn-light.mdi(ng-click='toggleFullscreen()' type='button' ng-class='isFullscreen() ? { "mdi-fullscreen-exit": 1 } : { "mdi-fullscreen": 1 }')
