div(flex-container='row', flex-column='3', ng-controller='GlobalIndicatorsCtrl')
	div.indicator(flex-item='1',ng-if="pairs['ETHUSD']")
		div.label ETH/USD
		div.val(ng-bind="pairs['ETHUSD'].price+'$'")

