div(flex-container='row', flex-column='3', ng-controller='GlobalIndicatorsCtrl')
	//- Consider using a ng-repeat here

	div.fiatSwitch(flex-container='row')
		span $
		lx-switch(ng-model='useEUR')
		span €

	div.indicator(flex-item='1',ng-if="useEUR ? cmc.pairs.ETHEUR : cmc.pairs.ETHUSD")
		div.label ETH/{{useEUR ? 'ETHEUR' : 'ETHUSD'}}
		div.val(ng-bind="cmc.pairs[useEUR ? 'ETHEUR' : 'ETHUSD']+(useEUR ? '€' : '$')")