div(flex-container='row')
	//- Night mode
	div.nightSwitch(flex-container='row')
		lx-icon(lx-id='weather-sunny',lx-size='l')
		lx-switch(ng-model='nightMode')
		lx-icon(lx-id='weather-night',lx-size='l')

	//- User management
	include ./user.pug

	//- Fullscreen
	lx-button(lx-type='icon', ng-click='toggleFullscreen()')
		i.mdi(ng-class='isFullscreen() ? { "mdi-fullscreen-exit": 1 } : { "mdi-fullscreen": 1 }')

