//- data-backdrop='static' if we don't want this to be closable
.modal.fade(id='approveExchangeByVault', tabindex='-1', role='dialog', aria-labelledby='Approve Exchange', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Approve Exchange Contract

            .modal-body
                p In order to trade, you need to approve a new exchange contract.
                p To keep DEXY upgradable, your funds are deposited to a separate vault contract, which in turn allows the exchange contract to operate with those funds. When we release a new exchange contract, you need to approve it in order to allow exchanging funds through it.
                p
                    a(ng-bind='getExchangeContract()',ng-href='{{getExchangeContractUrl()}}',target='_blank')
            .modal-footer
                .row
                    .col.text-right
                        button.btn.btn-primary(type='button', ng-click='approveExchangeByVault()') Approve
