lx-dialog(id='approveExchangeByVault', lx-escape-close='true', lx-auto-close='true')
    .modal-content
        .modal-header
            h5.modal-title Approve Exchange Contract

        .modal-body
            span Some text about how you need to approve the exchange smart contract because it prob upgrade
        .modal-footer
            .row
                .col.text-right
                    button.btn.btn-primary(type='button', ng-click='exchange.approveExchangeByVault()') Approve
