//- data-backdrop='static' if we don't want this to be closable
.modal.fade(id='approveExchangeByVault', tabindex='-1', role='dialog', aria-labelledby='Approve Exchange', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Approve Exchange Contract

            .modal-body
                span You need to approve a new exchange contract.
            .modal-footer
                .row
                    .col.text-right
                        button.btn.btn-primary(type='button', ng-click='approveExchangeByVault()') Approve
