.modal.fade(id='takeOrder', tabindex='-1', role='dialog', aria-labelledby='Fill Order' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Fill Order

            .modal-body
                //- This describes the WHOLE order
                h5 Order&nbsp;
                    small.text-muted {{exchange.toFill.order.amount}} {{exchange.symbol}} for {{exchange.toFill.order.rate}} ETH/{{exchange.symbol}}
                .form-row.align-items-end
                    .form-group.col
                        label.col-form-label Fill %
                        input.form-control(type='range' min='10' max='1000' ng-model='exchange.toFill.portion')

                .form-row.align-items-end
                    .form-group.col
                        label.col-form-label Amount {{exchange.symbol}}
                        //- This is supposed to describe the token amount, in terms of what will be filled by the user
                        input.form-control(type='text', placeholder='amount', ng-value='(exchange.toFill.maxCanFillInToken * (exchange.toFill.portion/1000)).toFixed(4)', disabled='')
                .form-row.align-items-end
                    .form-group.col
                        label.col-form-label ETH
                        input.form-control(type='text', placeholder='eth', ng-value='(exchange.toFill.maxCanFillInToken * (exchange.toFill.portion/1000) * exchange.toFill.order.rate).toFixed(6)', disabled='')

                .row
                    .col
                        p.font-weight-bold(ng-if='exchange.toFill.canTrade === false' ng-bind="'This order for '+amnt.toFixed(4)+' '+exchange.symbol+' cannot be traded. It may be expired or underfunded.'")
                        p.font-weight-light(ng-if='exchange.toFill.canTrade !== false' ng-bind="'Summary: ' + getSummary()")
            .modal-footer
                .row
                    .col.text-right
                        button.btn.btn-primary(type='button', ng-click='takeOrder(exchange.toFill)', ng-disabled='!exchange.toFill.canTrade') {{exchange.toFill.side === 'SELL' ? 'Sell' : 'Buy'}}
