div
    .row.mt-3
        .col-12.text-right.align-content-end
            .form-check.form-check-inline
                input.form-check-input(type="checkbox" name="hidezero" id="hidezero" value="hide" ng-model='hideZeroBal')
                label.form-check-label(for="hidezero") Hide zero balances
            .form-check.form-check-inline.ml-5
                select.form-control(ng-model="currency")
                    option(value="USD") USD
                    option(value="EUR") EUR

    .row.mt-3
        .col-12
            table.table.table-hover.markets-table
                thead
                    tr
                        th(scope='col')
                            //- for the icon
                        th(scope='col', ng-repeat='f in fields', ng-click="$ctrl.setOrderBy(f.field)")
                            span(ng-show="orderByField==f.field && !reverseSort")
                                i.fas.fa-arrow-up.fa-lg.mr-2
                            span(ng-show="orderByField==f.field && reverseSort")
                                i.fas.fa-arrow-down.fa-lg.mr-2
                            | {{::f.name}}
                tbody
                    tr(ng-repeat='market in markets | orderBy:orderByField:reverseSort | filter:$root.searchKeyword track by market.symbol', ng-click='openExchange(market.symbol)', ng-hide='hideZeroBal && market.balanceExchange <= 0')
                        td
                            img(ng-src='img/markets/{{market.symbol}}-ETH.png' width='30')
                        td(ng-bind='market.symbol')
                        td(ng-bind='market.balanceWallet.toFixed(2)')
                        td(ng-bind='market.balanceExchange.toFixed(2)')
                        //-td(ng-bind='market.change.toFixed(2)' ng-class='market.change >= 0 ? "positive" : "negative"')
                        td
                            div(ng-bind='(market.bid.toFixed(8))')
                            div(class='label', ng-bind='$ctrl.fiatValue(market.bid)')
                        td
                            div(ng-bind='(market.ask.toFixed(8))')
                            div(class='label', ng-bind='$ctrl.fiatValue(market.ask)')
                        td
                            div(ng-bind='(market.last.toFixed(8))')
                            div(class='label', ng-bind='$ctrl.fiatValue(market.last)')
                        td
                            div(ng-bind='(market.volume.toFixed(8))')
                            div(class='label', ng-bind='$ctrl.fiatValue(market.volume)')