.header
  font-size 1rem

.dropdown-toggle
  cursor pointer

div .dropdown-item
  cursor pointer

  &.selected
    background-color #e8e9ea;

  &.active, &:active
    background-color #6c54c9;

div .dropdown-menu.right
  right 0
  left unset

.fullscreen
  color rgba(0, 0, 0, 0.5);

  &:hover
    color rgba(0,0,0,.7);

.searchClear
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  height: 22px;
  margin: auto;
  cursor: pointer;
  color: #ccc;
