.btn-outline-primary
  border-color #6c54c9;
  color #6c54c9;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):hover
    background-color #6c54c9;
    border-color #6c54c9;

  &:disabled
    border-color #6c54c9;
    color #6c54c9;

.btn-primary
  border-color #6c54c9;
  background-color #6c54c9;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):hover
    background-color #6c54c9;
    border-color #6c54c9;
