.btn-outline-primary
  border-color: #6c54c9;
  color: #6c54c9;

  &:hover
    background-color: #6c54c9;
    border-color: #6c54c9;

.btn-primary
  border-color: #6c54c9;
  background-color: #6c54c9;

  &:hover, &:active, &:not(:disabled):not(.disabled):active
    background-color: #5f4ab5;
    border-color: #5f4ab5;
