////- exchangeLayout
//.exchangeLayout
//    position absolute
//    top 65px
//    bottom 15px
//    left 15px
//    right 15px
//
//    .topLeft, .bottomLeft, .topRight, .bottomRight
//        position absolute
//
//    .topLeft, .topRight
//        top 0px
//        bottom 40%
//
//    .bottomLeft, .bottomRight
//        height 40%
//        bottom 0px
//
//    .topLeft, .bottomLeft
//        left 0px
//        width 56%
//
//    .topRight, .bottomRight
//        left 56%
//        right 0px
//
//    .bottomLeft .tabs
//        border 1px solid rgba(0, 0, 0,.1)
//        height 100%
//
//    .bids, .asks, .sell, .buy
//        width 50%
//        position absolute
//        height 100%
//
//    .bids, .sell
//        left 0px
//
//    .asks, .buy
//        right 0px
//        border-left 1px solid rgba(0, 0, 0, .1)
//
//
////- Place order
//.placeOrder
//    button.action
//        color white !important
//        margin-top 0.5em
//    .inputRow
//        overflow hidden
//        margin-top 0.5em
//    .inputRow .text-field
//        float left
//        width 60%
//    .inputRow.rate .text-field
//        float left
//        width 40%
//    .inputRow .label
//        float right
//        font-size 11px
//        margin-right 10%
//        padding-top 10px
//
//    button[lx-type='flat']
//        border 1px solid #ccc
//
////- Split orderbook
//.orderbook
//    user-select none
//    -webkit-user-select none
//    -moz-user-select none
//
//    text-align left
//    font-size 0.8rem
//
//    tr, th
//        font-weight 500
//    tr
//        border-bottom 1px solid rgba(0, 0, 0, 0.1)
//    tbody tr
//        cursor pointer
//        &:hover
//            background-color rgba(0, 0, 0, 0.1)
//    thead
//        color: #888
//
//.bids .orderbook tbody
//    color #4DB6AC
//
//.asks .orderbook tbody
//    color #E57373
//
//
////- Exchange wallet
//.exchangeWallet
//    button
//        margin 0.5em

#exchange
    user-select none
    -moz-user-select none
    -webkit-user-select none