//
////- Header
//#topBar
//    // the tabs are styled as 48px, we don't want this to become anything different
//    height 48px
//    overflow hidden
//
//    .tabs
//        // y to (browser prefix)?
//        user-select none
//        -webkit-user-select none
//        -moz-user-select none
//
//    #logo
//        background url('../img/dexy.png')
//        background-size 70%
//        background-repeat no-repeat
//        background-position center
//        cursor pointer
//
//    .indicator
//        text-align center
//        margin 7px 30px
//        .label
//            color #888
//            font-size 11px
//        .val
//            font-size 13px
//        .label, .val
//            white-space nowrap
//            overflow hidden
//
//    .nightSwitch, .fiatSwitch
//        margin-top 13px
//        margin-right 20px
//    .fiatSwitch span
//        margin-right 8px
//    button
//        margin 6px 3px
