.header
  font-size 1rem

.dropdown-toggle
  cursor pointer

div .dropdown-item
  cursor pointer

  &.selected
    background-color #e8e9ea;

  &.active, &:active
    background-color #6c54c9;

div .dropdown-menu.right
  right 0
  left unset
