body
	font-family Arial
	

#topBar .tabs
	// y to?
	user-select none
	-webkit-user-select none
	-moz-user-select none
	
#logo
	background url('/img/dexy.png')
	background-size 70%
	background-repeat no-repeat
	background-position center
	

.markets-table
	th
		font-size 0.9rem
		
.markets-table td:nth-child(2), th:nth-child(2)
	display none