
body
	font-family Arial

//- ng-cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//- Required for fullscreen, otherwise things go dark
.mainView, .exchangeLayout
	background-color white


//- Night mode. Terrible
html.nightMode
	-webkit-filter invert(0.75)
	-moz-filter invert(0.75)
	filter invert(0.75)
	background-color: rgb(64,64,64)
	transition 0.3s ease-in
	
	button, img 
		-webkit-filter invert(0.75)
		-moz-filter invert(0.75)
		filter invert(0.75)
			
	.markets-table
		.negative
			color #4DB6AC
		.positive
			color #E57373