
//- markets
.markets-table
    th
        font-size 0.9rem

    td:nth-child(2), th:nth-child(2)
        display none

    .label
        color #888
        font-size 11px

    .positive
        color #4DB6AC
    .negative
        color #E57373

.hideZeroBal
    float right
    margin-top 20px
    margin-right 20px

.searchCard
    float left
    margin-left 40px
    margin-top 20px
    width 300px
    border-bottom 2px solid #eee