.markets-table
  th
    font-size 0.75rem

  .label
    color #888
    font-size 11px

  .positive
    color #4DB6AC
  .negative
    color #E57373

  tbody td
    cursor pointer

  th
    cursor pointer