.markets-table
    th
        font-size 0.75rem

    td:nth-child(2), th:nth-child(2)
        display none

    .label
        color #888
        font-size 11px

    .positive
        color #4DB6AC
    .negative
        color #E57373

.data-table__sortable-cell--asc:before
  float: right