doctype html

html(lang="en", ng-app="dexyApp")
	head
		// RESOURCES Head
		link(rel='stylesheet', href='node_modules/official-lumx/dist/lumx.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=OpenSans:300,400,500,700')
	
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

		include ./templates.pug

	body
		// tabs
		lx-tabs(lx-active-tab='activeTab')
			lx-tab(ng-repeat='tab in tabs track by tab.route', lx-label='{{::tab.name}}')

		.divider.divider--dark

		div(ui-view='view')

		div(ui-view='market')

		// RESOURCES Before body closing tag
		script(src='node_modules/jquery/dist/jquery.js')
		script(src='node_modules/velocity-animate/velocity.js')
		script(src='node_modules/moment/min/moment-with-locales.js')
		script(src='node_modules/angular/angular.js')
		script(src='node_modules/angular-ui-router/release/angular-ui-router.js')
		script(src='node_modules/official-lumx/dist/lumx.js')


		script(src='src/main.js')
		script(src='src/tmp.js')
		script(src='src/pages/market/market.js')
