doctype html

html(lang="en", ng-app="dexyApp", ng-class="{ nightMode: nightMode }")
	head
		title DEXY Exchange

		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

		if (mode === 'production')
			link(rel='stylesheet', href='blob.css')
			script(type='text/javascript', src='blob.js')
		else
			script(type='text/javascript', src='depsblob.js')
			include ./resources.pug

		include ./templates.pug

		//- External
		script(src='https://connect.trezor.io/4/connect.js')


	body
		//- Top bar
		include ./components/header/header

		.divider.divider--dark

		//- Main view
		div.mainView(ui-view='main')

