doctype html

html(lang="en", ng-app="dexyApp", ng-class="{ nightMode: nightMode }")
    head
        title DEXY Exchange

        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width', initial-scale='1')

        if (mode === 'production')
            link(rel='stylesheet', href='css/blob.css')
            script(type='text/javascript', src='blob.js?cacheBreak=' + pkg.version)
        else
            script(type='text/javascript', src='depsblob.js?cacheBreak=' + pkg.version)
            include ./resources.pug

        include ./templates.pug

    body
        //- Top bar
        include ./components/header/header

        //- Main view
        main.container-fluid.mb-3(ui-view='main')

        //- Sentry - raven
        script(type="text/javascript").
            Raven
            .config('https://1a21874b245641e499f4fae142ded08d@sentry.io/1205600')
            .addPlugin(Raven.Plugins.Angular)
            .install()
