doctype html

html(lang="en", ng-app="dexyApp")
	head
		// RESOURCES Head
		link(rel='stylesheet', href='node_modules/official-lumx/dist/lumx.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=OpenSans:300,400,500,700')
	
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

	body()
		// Tabs
		lx-tabs
			lx-tab(ng-repeat='tab in tabs track by tab.go', lx-label='{{::tab.name}}')

		.divider.divider--dark

		div(ng-controller='DemoDataTableController as vm')
			lx-data-table(lx-border='false', lx-thumbnail='true', lx-thead='vm.advancedDataTableThead', lx-tbody='vm.dataTableTbody')

		// RESOURCES Before body closing tag
		script(src='node_modules/jquery/dist/jquery.js')
		script(src='node_modules/velocity-animate/velocity.js')
		script(src='node_modules/moment/min/moment-with-locales.js')
		script(src='node_modules/angular/angular.js')
		script(src='node_modules/official-lumx/dist/lumx.js')

		script(src='src/main.js')
		script(src='src/tmp.js')
