doctype html

html(lang="en", ng-app="dexyApp")
	head
		title DEXY Exchange

		if (mode === 'production')
			link(rel='stylesheet', href='blob.css')
			script(type='text/javascript', src='blob.js')
		else
			include ./resources.pug

		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=OpenSans:300,400,500,700')

		// WARNING: security; we shouldn't include stuff from third party sources
		script(src='https://code.highcharts.com/stock/highstock.js')
		script(src='https://code.highcharts.com/stock/modules/exporting.js')

		include ./templates.pug

	body
		// Top bar
		#topBar.bgc-grey-100(flex-container='row', flex-column='12')
			div#logo(flex-item='1')
				//- Logo here

			div(flex-item='4')
				// tabs
				lx-tabs(lx-active-tab='activeTab', ng-click='updateRoute(activeTab)')
					lx-tab(ng-repeat='tab in tabs track by tab.route', lx-label='{{::tab.name}}')

			
			div(flex-item='6')
				//- Indicators here

			div(flex-item='1')
				// Night mode
				span Night mode
				lx-switch(ng-model='nightMode')

		.divider.divider--dark

		div(ui-view)

