link(rel='stylesheet',href='node_modules/official-lumx/dist/lumx.css')

link(rel='stylesheet',href='css/main.css')

script(src='node_modules/jquery/dist/jquery.js')
script(src='node_modules/velocity-animate/velocity.js')
script(src='node_modules/moment/min/moment-with-locales.js')
script(src='node_modules/angular/angular.js')
script(src='node_modules/angular-ui-router/release/angular-ui-router.js')
script(src='node_modules/official-lumx/dist/lumx.js')


script(src='src/js/main.js')
script(src='src/js/routing.js')
script(src='src/js/consts.js')
script(src='src/components/markets/markets.js')
script(src='src/components/exchange/exchange.js')
