
script(src='src/js/third-party/chrome-u2f.js')
script(src='src/js/third-party/ledger.min.js')
script(src='src/js/third-party/highstock.js')

link(rel='stylesheet',href='node_modules/official-lumx/dist/lumx.css')
link(rel='stylesheet',href='node_modules/bootstrap/dist/css/bootstrap.min.css')

link(rel='stylesheet',href='css/main.css')
link(rel='stylesheet',href='css/markets.css')
link(rel='stylesheet',href='css/orderbook.css')
link(rel='stylesheet',href='css/tradehistory.css')
link(rel='stylesheet',href='css/header.css')
link(rel='stylesheet',href='css/buttons.css')

script(src='node_modules/jquery/dist/jquery.js')
script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src='node_modules/velocity-animate/velocity.js')
script(src='node_modules/moment/min/moment-with-locales.js')
script(src='node_modules/angular/angular.js')
script(src='node_modules/angular-ui-router/release/angular-ui-router.js')
script(src='node_modules/official-lumx/dist/lumx.js')

script(src='src/js/main.js')
script(src='src/js/routing.js')
script(src='src/js/consts.js')
script(src='src/js/chartStyle.js')

script(src='src/js/services/user.js')
script(src='src/js/services/cmc.js')
script(src='src/js/services/gas.js')

script(src='src/components/header/globalIndicators.js')
script(src='src/components/header/user.js')

script(src='src/components/markets/markets.js')
script(src='src/components/exchange/exchange.js')
script(src='src/components/exchange/placeOrder.js')
script(src='src/components/exchange/orderbook.js')

//- Trezor has to be loaded after main.js because of the overrides in settings (window.TREZOR_POPUP_ORIGIN)
script(src='src/js/third-party/trezor-connect.js')
