script(type="text/ng-template" id="marketsTpl")
    include pages/markets/markets.pug

script(type="text/ng-template" id="walletsTpl")
    include pages/wallets/wallets.pug

//- Transactions?

//- Help

script(type="text/ng-template" id="exchangeTpl")
    include pages/exchange/exchange.pug


