script(type="text/ng-template" id="marketsTpl")
    include components/markets/markets.pug

//- Transactions?

//- Help

script(type="text/ng-template" id="exchangeTpl")
    include components/exchange/exchange.pug


//- Indicators on top
script(type="text/ng-template" id="globalIndicatorsTpl")
    include components/header/indicators.pug

script(type="text/ng-template", id="exchangeIndicatorsTpl")
    include components/exchange/indicators.pug