script(type="text/ng-template" id="marketsTpl")
    include pages/markets/markets.pug

//- Transactions?

//- Help

script(type="text/ng-template" id="exchangeTpl")
    include pages/exchange/exchange.pug


